#OID				OpType 		MetricPath:MetricName (cannot contain whitespace)

1.3.6.1.2.1.1.5.0			Variable		HostName

1.3.6.1.4.1.546.1.1.7.8.32.0	IntAverage	SystemEdge|{$HostName}|Memory:MemInUsePercent
1.3.6.1.4.1.546.1.1.7.8.30.0	IntAverage	SystemEdge|{$HostName}|Memory:SwapInUsePercent

#1.3.6.1.4.1.546.1.1.1.2.0	StringEvent		SystemEdge|{$HostName}|CPU:name
1.3.6.1.4.1.546.13.7.0		IntAverage		SystemEdge|{$HostName}|CPU:TotalIdlePercent
1.3.6.1.4.1.546.13.8.0		IntAverage		SystemEdge|{$HostName}|CPU:TotalUserPercent
1.3.6.1.4.1.546.13.9.0		IntAverage		SystemEdge|{$HostName}|CPU:TotalSystemPercent
#1.3.6.1.4.1.546.13.10.0	IntAverage		SystemEdge|{$HostName}|CPU:TotalWaitPercent
1.3.6.1.4.1.546.13.13.0		IntAverage		SystemEdge|{$HostName}|CPU:TotalUtilPercent

1.3.6.1.4.1.546.13.1.1.1	TableKey		CoreId
1.3.6.1.4.1.546.13.1.1.14	IntAverage		SystemEdge|{$HostName}|CPU|Core{TABLE:CoreId}:UtilPercent


1.3.6.1.2.1.25.2.3.1.3		TableKey		StorageName
1.3.6.1.2.1.25.2.3.1.5		LongCounter		SystemEdge|{$HostName}|Storage|{TABLE:StorageName}:Size(Blocks)
1.3.6.1.2.1.25.2.3.1.6		LongAverage		SystemEdge|{$HostName}|Storage|{TABLE:StorageName}:Used(Blocks)
1.3.6.1.2.1.25.2.3.1.4		IntAverage		SystemEdge|{$HostName}|Storage|{TABLE:StorageName}:BlockSize(Bytes)

1.3.6.1.2.1.4.20.1.1		TableKey		IpAddress

1.3.6.1.2.1.4.20.1.2		TableKey		Interface:IpAddress
1.3.6.1.2.1.2.2.1.10		LongRate		SystemEdge|{$HostName}|Network|Interfaces|{TABLE:Interface}:InOctets
1.3.6.1.2.1.2.2.1.13		LongRate		SystemEdge|{$HostName}|Network|Interfaces|{TABLE:Interface}:InDiscards
1.3.6.1.2.1.2.2.1.14		LongRate		SystemEdge|{$HostName}|Network|Interfaces|{TABLE:Interface}:InErrors
1.3.6.1.2.1.2.2.1.16		LongRate		SystemEdge|{$HostName}|Network|Interfaces|{TABLE:Interface}:OutOctets
1.3.6.1.2.1.2.2.1.19		LongRate		SystemEdge|{$HostName}|Network|Interfaces|{TABLE:Interface}:OutDiscards
1.3.6.1.2.1.2.2.1.20		LongRate		SystemEdge|{$HostName}|Network|Interfaces|{TABLE:Interface}:OutErrors
1.3.6.1.2.1.2.2.1.21		LongCounter		SystemEdge|{$HostName}|Network|Interfaces|{TABLE:Interface}:QueueLength


1.3.6.1.2.1.6.7.0			LongRate		SystemEdge|{$HostName}|Network|TCP:AttemptFailures
1.3.6.1.2.1.6.8.0			LongRate		SystemEdge|{$HostName}|Network|TCP:ResetConnections
1.3.6.1.2.1.6.9.0			IntCounter		SystemEdge|{$HostName}|Network|TCP:EstablishedConnections




